.red, .gre, .blu{
margin: 7px;
}
.red{
background: rgba(255,100,100,0.7);
}
.gre{
background: rgba(100,255,100,0.7);
}
.blu{
background: rgba(100,100,255,0.7);
}
input[type="range"]{
width: 200px;
}
input[type="number"]{
width: 45px;
}
#bg{
  margin: 0 5px 0px 3px;
}
.color_text {
padding-left:5px;
margin:0px;
display: table-cell;
height: 32px;
/*display: inline-block;*/
width: 193px;
vertical-align: middle;
font-weight: bold;
/*text-shadow: -1px 0 #FF5733, 0 0 1px #FF5733, 0 0 3px #FF5733, 0 0 5px #FF5733, 0 0 7px #FF5733, 0 0 9px #FF5733;*/
/*text-align: right;*/
}
/*
.spa span {
display: table-cell;
vertical-align: middle;
height:32px;
}
*/
.but{
 
}
table{
  /*padding:0px;*/
  margin-top:0px;
  border:0px;
  border-spacing: 5px;
  border-collapse: collapse;
}
tr{
/*  padding:5px;
  margin:0px;*/
}
td{
  padding:3px;
  /*margin:0px;*/
}
.but_save, .but_load{
  /*background:url(icon_save.png);*/
  background-repeat: no-repeat;
  background-color: #FF5733;
  width: 32px;
  height: 32px;
  border: none;
  box-shadow: none;
  border-radius: 0px;
  /*margin: 7px 7px 7px 7px;*/
  padding:4px;
  /*margin:0px;*/
  cursor: pointer;
 }

.but_save:hover, .but_load:hover {
  background-color: #cc4528;
}