.button_small {
	font-family:Verdana;
	width: 28px;
	height: 36px;
	line-height: 36px;
	background-color: #1a1a1a;
    font-size: 16px;
	border: none;
    color: #FF5733;
    text-align: center;
    text-decoration: none;
	margin-left: 7px;
	/*margin-bottom: 7px;*/
	border: 2px solid white;
	display: inline-block;
	cursor: pointer;
}
.button_small:hover {
	background-color: #333;
	cursor: pointer;
}
.button_icon {
	position:absolute;
	display: inline-block;
	background-repeat: no-repeat;
	background-color: #FF5733;
	width: 45px;
	height: 45px;
	border: none;
	box-shadow: none;
	border-radius: 0px;
	margin-left: 7px;
	/*margin-top: 0px;*/
	/*padding:8px;*/
	/*margin:0px;*/
	cursor: pointer;
}
.button_icon img {
	position:relative;
	margin-left: 10px;
	margin-top: 10px;
}
.button_icon:hover {
	background-color: #cc4528;
}


#color_list {
  font-family: Verdana;
  font-size: 17px;
  color: #FF5733;
  margin-top: 10px;
  font-weight: bold;
  overflow-y:auto;
  overflow-x:hidden;
  height: calc(100vh - 140px);
}

#color_list label {
	display: block;
	width: 300px;
	/*position: relative;*/
}
.color_item {
	height: 32px;
	margin: 10px 10px 10px 7px;
	width: 300px;
	cursor: pointer;
}

.color_item_num {
	width: 2.5em;
	display: inline-block;
}

.color_item_name {
	background-color: white;
	display: inline-block;
	width: 193px;
	margin-left: 10px;
	padding-left: 10px;
	line-height: 30px;
	height: 32px;
	/*margin: auto;*/
	/*position:absolute;*/
}

#content input[type=number] {
	font-family:Verdana;
	width: 65px;
	height: 34px;
	background-color: #1a1a1a;
	border: none;
    color: #FF5733;
    text-align: center;
    text-decoration: none;
	font-size: 16px;
	margin-left: 7px;
	/*margin-right: 4px;*/
	margin-bottom: 7px;
	border: 2px solid white;
}

/* Hide the browser's default checkbox */
.color_item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  height: 28px;
  width: 28px;
  display: inline-block;
  line-height: 28px;
  border: solid white 2px;
  background-color: #1a1a1a;
  color: #1a1a1a;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: relative;
  display: none;
}

/* Show the checkmark when checked */
.color_item input:checked ~ .checkmark:after {
  display: inline-block;
}

/* Style the checkmark/indicator */
.color_item .checkmark:after {
  left: 3px;
  top: 0px;
  width: 7px;
  height: 14px;
  border: solid #FF5733;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*===========================================*/
.color_assignment_container {
	/*display: inline-block;*/
	margin-top: 10px;
	margin-left: 7px;
}
.color_assignment_item {
	cursor: pointer;
	color: white;
}
.label_text {
	top: -8px;
	position: relative;
}
.color_assignment_item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark_radio {
  position: relative;
  display: inline-block;
  /*line-height: 28px;*/
  border: solid white 2px;
  /*background-color: #1a1a1a;
  color: #1a1a1a;*/
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-left: 7px;
  margin-right: 15px;
}
.checkmark_radio:after {
  content: "";
  position: relative;
  display: none;
}
.color_assignment_item input:checked ~ .checkmark_radio:after {
  display: block;
}
.color_assignment_item .checkmark_radio:after {
 	top: 9px;
	left: 9px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #FF5733;
}

 /* The container must be positioned relative: */
#custom-select {
  position: relative;
  width: 412px;
  height: 38px;
  margin-left: 7px;
  margin-bottom: 21px;
  display: inline-block;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 20px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 13px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  background-color: #1a1a1a;
  color: white;
  text-decoration: none;
  border: 2px solid #FF5733;
  padding: 10px 16px;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
	padding-top: 6px;
  overflow:auto;
  height: calc(100vh - 118px);
  max-height: 1240px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: black;
} 