

#color_list {
  font-family: Verdana;
  font-size: 17px;
  color: #FF5733;
  margin-top: 10px;
  font-weight: bold;
  overflow-y:auto;
  overflow-x:hidden;
  height: calc(100vh - 140px);
}

.color_item {
	height: 32px;
	margin: 10px 10px 10px 7px;
	width: 300px;
	/*cursor: pointer;*/
}

.color_item_num {
	width: 2.5em;
	display: inline-block;
	
}

.color_item_name {
	background-color: white;
	display: inline-block;
	width: 193px;
	margin-left: 10px;
	padding-left: 10px;
	line-height: 30px;
	height: 32px;
	/*margin: auto;*/
	/*position:absolute;*/
}

#content input[type=number] {
	font-family:Verdana;
	width: 65px;
	height: 34px;
	background-color: #1a1a1a;
	border: none;
    color: #FF5733;
    text-align: center;
    text-decoration: none;
	font-size: 16px;
	margin-left: 7px;
	margin-bottom: 7px;
	border: 2px solid white;
}

/* Hide the browser's default checkbox */
.color_item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  height: 28px;
  width: 28px;
  display: inline-block;
  line-height: 28px;
  border: solid white 2px;
  background-color: #1a1a1a;
  color: #1a1a1a;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: relative;
  display: none;
}

/* Show the checkmark when checked */
.color_item input:checked ~ .checkmark:after {
  display: inline-block;
}

/* Style the checkmark/indicator */
.color_item .checkmark:after {
  left: 3px;
  top: 0px;
  width: 7px;
  height: 14px;
  border: solid #FF5733;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}