

#color_list {
  font-family: Verdana;
  font-size: 17px;
  color: #FF5733;
  margin-top: 10px;
  font-weight: bold;
  overflow-y:auto;
  overflow-x:hidden;
  height: calc(100vh - 140px);
}

.color_item {
	height: 32px;
	margin: 10px 10px 10px 7px;
}

.color_item input[type=checkbox] {
  /*transform: scale(1.5);*/
  width: 2em;
}

.color_item_num {
	width: 2.5em;
	display: inline-block;
	
}

.color_item_name {
	background-color: white;
	display: inline-block;
	width: 193px;
	padding-left: 0.5em;
	line-height: 30px;
	height: 2em;
	margin: auto;
	/*position:absolute;*/
}

#content input[type=number] {
	font-family:Verdana;
	width: 65px;
	height: 34px;
	background-color: #1a1a1a;
	border: none;
    color: #FF5733;
    text-align: center;
    text-decoration: none;
	font-size: 16px;
	margin-left: 7px;
	margin-bottom: 7px;
	border: 2px solid white;
}
