#content {
    font-family:Verdana;
	padding-left:330px;
	padding-top:10px;
	
}
#content button {
	font-family:Verdana;
	width: 150px;
	height:40px;
	background-color: #1a1a1a;
    font-size: 16px;
	border: none;
    color: #FF5733;
    text-align: center;
    text-decoration: none;
	font-size: 16px;
	margin-left: 7px;
}
#content button:hover:enabled {
	background-color: #333;
}

#content button {
    border: 2px solid white;
}
#left_column{

  width: 320px;
  float: left;
  border-width:0px 4px 0px 0px;
  border-color:#FF5733;
  border-style:solid;
  
  
  
  
}
#color_menu {
	height:100%;
   overflow-y:auto;
  overflow-x:hidden;
	  margin-top: 10px;
  /*margin: 0;
  padding: 0;*/
 width: 320px;
  /*height: 100%;*/
  /*overflow-y:auto;
  overflow-x:hidden;*/
   
  
}
#color_menu p{
  text-align: center;
  color: #FF5733;
  font-weight: bold;

}

#top_menu {
  overflow: hidden;
  border-width:0px 0px 4px 0px;
  border-color:#FF5733;
  border-style:solid;
  /*background-color: blue;*/
}

#top_menu a {
  float: left;
  color: #FF5733;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Verdana;
  font-size: 17px;
}

#top_menu a:hover {
  background-color: #333;
}

.selectedMenu {
  font-weight: bold;
}

#header {
	/*font-family:Verdana;
    text-align:center;*/
margin-left:3px;


	line-height: 49px;
	width: 320px;
	background-color: #FF5733;
	color: #1a1a1a;
	text-align: center;
	
}
#header span{
  font-size: 27px;
  font-weight: bold;
  display: inline;
}
#color_menu p{
  text-align: center;
  color: #FF5733;
  
  font-weight: bold;
  

}
body {
    background-color: #1a1a1a;
	font-family: Verdana;
	font-size: 17px;
}



