#content {
    font-family:Verdana;
	padding-left:330px;
	padding-top:10px;
	
}
#content button {
	font-family:Verdana;
	width: 150px;
	height:40px;
	background-color: #1a1a1a;
    font-size: 16px;
	border: none;
    color: #FF5733;
    text-align: center;
    text-decoration: none;
	font-size: 16px;
	margin-left: 7px;
	margin-bottom: 7px;
	border: 2px solid white;
}
#content button:hover:enabled {
	background-color: #333;
}

#left_column{

  width: 320px;
  float: left;
  border-width:0px 4px 0px 0px;
  border-color:#FF5733;
  border-style:solid;
}
#color_menu_top {
  margin-top: 10px;
}
#color_menu {
   overflow-y:auto;
  overflow-x:hidden;
	  margin-top: 10px;
  /*margin: 0;
  padding: 0;*/
 width: 320px;
  /*height: 100%;*/
  /*overflow-y:auto;
  overflow-x:hidden;*/
  height: calc(100vh - 175px);
  
}
#color_menu p{
  text-align: center;
  color: #FF5733;
  font-weight: bold;

}

#top_menu {
  overflow: hidden;
  border-width:0px 0px 4px 0px;
  border-color:#FF5733;
  border-style:solid;
  /*background-color: blue;*/
}

#top_menu a {
  float: left;
  color: #FF5733;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Verdana;
  font-size: 17px;
}

#top_menu a:hover {
  background-color: #333;
}

.selectedMenu {
  font-weight: bold;
}

#header {
	/*font-family:Verdana;
    text-align:center;*/
margin-left:3px;


	line-height: 49px;
	width: 320px;
	background-color: #FF5733;
	color: #1a1a1a;
	text-align: center;
	
}
#header span{
  font-size: 27px;
  font-weight: bold;
  display: inline;
}
#color_menu p{
  text-align: center;
  color: #FF5733;
  
  font-weight: bold;
  

}
body {
    background-color: #1a1a1a;
	font-family: Verdana;
	font-size: 17px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


